*{
    margin: 10px;
    margin-top: 10px;
    background-color: #f5f5f5;
    
}

.contenedor-flecha {
    display: flex;
    align-items: center;
}

.flecha {
    position: relative;
    width: 40px; /* Longitud total de la flecha */
    height: 2px; /* Grosor de la línea */
    background-color: #ef6e1e; /* Color de la flecha */
    margin-right: 15px;
}

.flecha:after {
    content: '';
    position: absolute;
    top: -4px; /* Altura del triángulo de la flecha */
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 3px 15px; /* Tamaño del triángulo */
    border-color: transparent transparent transparent #ef6e1e; /* Color del triángulo */
}

.h3 {
    font-family: "Roboto"; 
    color: #1f2950 
    font-size: 20px; /* Ajusta el tamaño del texto  */
    font-weight: bold; 
    margin: 10px 0; /* Elimina el margen por defecto para evitar espacios innecesarios */
}

header p {
    font-family: "Roboto"; 
    color: #1f2950 
    font-size: 20px; /* Ajusta el tamaño del texto  */
    font-weight: bold; 
    margin: 2px; /* Elimina el margen por defecto para evitar espacios innecesarios */
}

/*Barra de navegación*/
*{

    box-sizing: border-box;
    margin:0px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.titulo{
    font-size: 23px;
    padding-left: 12rem;
    padding-bottom: 3rem;
    padding-top:1rem;
    border-top: solid 3px #3d403b;
}

nav{
    background-color:#d8e8eb;
    border-top: solid 2px #3d403b;
    border-bottom: solid 3px#3d403b;  
    padding: 20px;
}

nav li{
    margin:5px;
    font-size: 22px; 
}

li a{    
    color: black;
    text-decoration: none;
}

.dropdown{
    display:inline-block;
    position:relative;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown-content{
    display: none;
    position:absolute;
    width: 100%;
    overflow: auto;
    /*box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0,0,2);*/
    background-color: #d8e8eb;
    padding: 30px, 10px;
    border-bottom: solid 3px#3d403b;
    opacity: 0.9;  
}

.dropdown-content a{
    display:block;
    color:#000;
    padding:5px;
    text-decoration: none;
    font-size: 18px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
}

header img{
    width: 100%;
    max-height: 470px;
}

img[src="Logo Redondeado.jpg"] {
    position: absolute;
    top: 30px; /* Ajusta la posición vertical  */
    left: 25px; /* Ajusta la posición horizontal  */
    z-index: 5; /* Asegura que la imagen del logo esté sobre la imagen del Obelisco */
    width: 150px;
}

/* Estilo para la sección principal de la guía */
.cajaGuiaExpress {
    font-family: 'Roboto', sans-serif;
    color: #1f2950;
    width: 100%;
    max-height: 30%;
    max-width: 100%; /* Ajusta el ancho */
    margin: 0 auto; /* Centra la caja horizontalmente */
    padding: 20px; /* Aumenta el padding */
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ef6e1e; /* borde */
    border-radius: 10px; /* borde redondeado */
}

.cajaGuiaExpress h3 {
    font-family: "Roboto";
    font-size: 24px; /* Ajustado el tamaño del título */
    margin-bottom: 10px; /* Añadido un margen inferior */
}

.cajaGuiaExpress p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.6; /* Ajustado el espaciado entre líneas */
    margin-bottom: 15px; /* Añadido un margen inferior */
    font-weight: bolder;
}


/* Estilo para el aside */
aside {
    font-family: "Roboto";
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: justify;
    width: 250px; /* Ajusta el ancho  */
    height: auto; /* altura  ajusta automáticamente  */
    display: inline-block; /* aside como un bloque  */
    float: left;
}

/* Estilo para los párrafos dentro del aside */
aside p {
    margin: 0 0 10px;
    display: inline-block; /* Hace que los párrafos estén en línea, pero permite que haya un margen inferior */
}

/* Estilo específico para la parte en negrita */
aside strong {
    font-weight: bold;
    color: #007bff; /* Color azul para destacar la información clave */
}

.container {
    
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.contenedorppal{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
        }
    
    .cajamuseo{  
        box-sizing: border-box;
        width: 300px;
        max-height: 250px;
        margin: 5px 2px 2px 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: solid black;
        border-radius:5%;
    }

    .fotoarte{
        background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/dna.jpg);
        background-size: cover;
        background-position: center;
    }






/*Styles Artes*/